---
layout: base.njk
---

<header>
  <h1 align="center">{{ title }}</h1>
  <object data="/images/lyncykel-plain.svg" type="image/svg+xml" class="lyncykel"></object>
</header>
<main>
  <article>
    {{ content | safe }}
  </article>
</main>