/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* theme color variables */
html {
--medium-blue: rgb(0, 28, 188);
--dark-blue: rgb(22, 22, 42);	
--seafoam: rgb(129, 240, 179);
--light-blue: rgb(184, 184, 255);
--red: rgb(197, 19, 19);
--pink: rgb(255, 211, 180);
--yellow: rgb(255, 244, 32);
}

/* Background */
body {
  background-color: var(--dark-blue);
  background-size: cover;
}

/************************ Layout ******************************/

/* settings for the bounding box of the website */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
}

/* global settings that apply to all the elements on the site */
body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 80ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

:is(h1, h2) {
  max-width: 40ch;
}

/* specifies settings for the nav bar as a whole*/
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: center;
}

/* specifies settings for each nav element */
nav ul li {
  padding: 0.5rem 2rem;
}

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

/* footer settings */
body > footer {
  font-size: 16px;
  color:rgba(0, 0, 0, 0.35);
  margin-top: 400px;
  padding-top: var(--layout-spacing);
  text-align: center;
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

/* article settings */ 
article * + * {
  margin-top: 1em;
}

/**************************** Typography ****************************/

@font-face {
  font-family: 'nav-font';
  src: url("../fonts/subset-Montserrat-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Jost-UltraBold-Italic';
  src: url("../fonts/Jost-800-HevyItalic.otf") format('opentype');
  font-weight: 800
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Author';
  src: url("../fonts/Author-Regular.woff2") format('woff2');
  font-feature-settings: "lnum";
  font-display: swap;
}

@font-face {
  font-family: 'Author';
  src: url("../fonts/Author-Italic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Author';
  src: url("../fonts/Author-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Author';
  src: url("../fonts/Author-BoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: bold;
}

nav {
  font-family: 'Author', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--seafoam);
}

main {
  font-family: 'Author', serif;
  font-size: 20px;
  line-height: 1.5;
  color: var(--light-blue);
}

h1 {
  font-family: 'Jost-UltraBold-Italic', sans-serif;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  margin-bottom: 30px;
  margin-top: -15px;
  font-size: 144px;
  color: var(--yellow);
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24vw;
  }
}

:is(h1, h2, h3) {
  line-height: 0.95;
}

:is(h2, h3) {
  margin-top: 1.5em;
  font-family: 'Montserrat-Bold';
  color: var(--light-blue);
}

/* styling for the currently active menu tab */
nav [aria-current="page"] {
  font-weight: bold;
}

/* styling for links */
a {
  color: var(--seafoam);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
}

a:hover {
  outline: 2px solid var(--yellow);
  outline-offset: 0.2em;
}

/************************ Media ***********************************/

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/********************* Supporting Content *************************/

/* lists */

main ul li {
  margin: 10px 0px;
}

/* blockquotes */

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}
